@using ParkingNet.Resources;
@using ParkingLot.Models.Areas.Admin.Category;
@using ParkingNet.Controls;

@model CategoryVM

@{
    ViewData["Title"] = @ViewBag.Title;
}

<div class="panel-group" id="accordion">
    <div class="form-horizontal">
        @await Html.PartialAsync("/Areas/Admin/Views/Category/ViewCategorys.cshtml")
    </div>
</div>

@section Scripts{
    <script src="~/js/Admin/AdmCategory.js"></script>
}