@using ParkingLot.Resources;
@using ParkingLot.Models.Areas.Admin.Category;

@model CategoryVM

@{
    ViewData["Title"] = ViewBag.Tittle;
}

<div class="container">
    <div class="row">
        <div class="panel panel-primary top-separation">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @Labels.Categorys
                </h4>
            </div>
            <div class="panel-body" style="padding: 0;">
                <table class="table top-separation table-striped table-bordered" id="tableCars">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">@Labels.Category</th>
                            <th scope="col">@Labels.State</th>
                            <th style="width:200px; align-content:center">@Labels.Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tableCategorys').DataTable();
        });
    </script>
}