@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen Práctico</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        El área de Seguridad y protección de la Empresa Gestión Compartida lleva un control detallado sobre la entrada y salida de todos los vehículos al estacionamiento del Edificio. Dicho control es realizado actualmente a través de un fichero Excel donde se va anotando todos los ingresos y egresos de vehículos, con su hora de entrada y salida, patente y algunos datos del dueño (Empleado).
        Par automatizar dicha actividad y mejorar el control que se realiza; ha surgido el requerimiento de realizar una aplicación Web que permita a los usuarios encargados controlar el acceso al estacionamiento de una mejor forma. La aplicación debería cumplir con los siguientes requerimientos:

        •	Deberá disponer de un sistema de autenticación y autorización para que solo los usuarios registrados puedan acceder y trabajar con la aplicación Web.
        •	La aplicación deberá poder crear, modificar y eliminar empleados que trabajan en la empresa.
        •	La aplicación deberá poder crear, modificar y eliminar autos asociados a los empleados que usan el estacionamiento (para simplificar se dispone que los empleados puedan tener solo un auto registrado cada uno).
        •	La aplicación debe ser capaz de listar todos los autos que están dentro del estacionamiento en cada momento.
        •	La aplicación debe mostrar los autos que estuvieron dentro del estacionamiento en un rango de fecha determinada. (Histórico).

        Para la realización de la aplicación web utilizar preferentemente el Patrón de Arquitectura de Software MVC, provisto con ASP.NET MVC 5; así como utilizar el estilo de programación en capas.
    </p>
</div>